@define-color foreground #c1cfc7;
@define-color background #2D353B;
@define-color cursor #c1cfc7;

@define-color activeGreen #A7C080;
@define-color passiveGreen #1e2d28;
@define-color pink #D699B6;
@define-color text0 #1e2d28;
@define-color text0 #1e2d28;

@define-color color0 #1e2d28;
@define-color color1 #96A15D;
@define-color color2 #5D8E91;
@define-color color3 #699895;
@define-color color4 #78A49B;
@define-color color5 #8AAA9C;
@define-color color6 #9DA997;
@define-color color7 #c1cfc7;
@define-color color8 #87908b;
@define-color color9 #a7c080;
@define-color color10 #5D8E91;
@define-color color11 #699895;
@define-color color12 #78A49B;
@define-color color13 #8AAA9C;
@define-color color14 #9DA997;
@define-color color15 #c1cfc7;
