layout {
    background-color "transparent"

    focus-ring {
        active-color   "#a7c080"
        inactive-color "#a7c080"
        urgent-color   "#f2b8b5"
    }

    border {
        active-color   "#a7c080"
        inactive-color "#a7c080"
        urgent-color   "#f2b8b5"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#a7c080"
        inactive-color "#a7c080"
        urgent-color   "#f2b8b5"
    }

    insert-hint {
        color "#a7c08080"
    }
}

recent-windows {
    highlight {
        active-color   "#1e2d28"
        urgent-color   "#f2b8b5"
    }
}